.user__posts {
  padding: 10px;
}

.user__newpost {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__newpost textarea {
  padding: 10px;
  width: 300px;
  border: 2px solid #ff4a11;
  border-radius: 30px;
}

.user__newpost input {
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  color: white;
  background-color: #ff4a11;
  border: none;
  border-radius: 30px;
}
