.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header header'
    'nav content';
}

.content {
  grid-area: content;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
